h1
{
	font-size:170px;
	text-align:center;
	color:#FF941B;
}

.boton
{
	font-size:25px;
	top:10px;
	PADDING-RIGHT: 10px; 
	PADDING-LEFT: 10px; 
	PADDING-BOTTOM: 10px; 
	PADDING-TOP: 10px;
	font-family: Georgia, Serif;
} 

